<div class="content">
    <div class="contact-profile">
        <img src="assets/image/1713477957714.jpeg"
            alt="" />
            <%if(req.user.first_name && req.user.last_name){%>
                <p><%=req.user.first_name+" "+ req.user.last_name%></p>
            <%}else if(req.user.username){%>
                <p><%=req.user.username%></p>
            <%}else{%>
                <p><%=req.user.mobile%></p>
            <%}%>
        <input type="hidden" id="userID" value="<%=req.user._id%>">
                    <div class="social-media">
                        <span id="onlinesCount"><strong>افراد آنلاین : </strong><span id="onlineCount">-</span></span>
                    </div>
    </div>
    <div id="roomName">
        <h3></h3>
    </div>
    <div class="messages pb-5">
        <ul style="padding-bottom: 50px;">
     
        </ul>
    </div>
    <div class="message-input">
        <div class="wrap">
            <input type="text" id="messageInput" placeholder="Write your message..." />
            <input type="file" onchange="sendFile(this.files)"/>
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <div class="btn">
                <button class="submit">send</i></button>
                <button class="location" onclick="getLocation()">location</i></button>
            </div>

        </div>
    </div>
</div>